<template>
    <div class="container">
        <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="daily-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Daily</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="range-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Range</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="daily-tab">
                <div class="row">
                    <div class="col-lg-8">
                        <h4 class="mt-4">Location: <span>{{location}}</span></h4>
                        <div class="table-responsive-lg">
                            <table class="table mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">Live Temperature</th>
                                        <th scope="col">Max Temperature</th>
                                        <th scope="col">Min Temperature</th>
                                        <th scope="col">Average Temperature</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{liveTemperature}} °F</td>
                                        <td>{{maxTemperature}} °F</td>
                                        <td>{{minTemperature}} °F</td>
                                        <td>{{avgTemperature}} °F</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-4">
                        <input v-model="location" class="form-control" type="text" placeholder="Search Location" id="location-search">
                        <button class="btn btn-primary mt-4 form-control" v-on:click="getTemperature">Get</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade mb-5" id="profile" role="tabpanel" aria-labelledby="range-tab">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="table-responsive-lg" v-if="datesTemperatures.length">
                             <table class="table mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Max Temperature</th>
                                        <th scope="col">Min Temperature</th>
                                        <th scope="col">Average Temperature</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="date in datesTemperatures">
                                        <td>{{date.date.toDateString()}}</td>
                                        <td>{{date.maxTemperature}} °F</td>
                                        <td>{{date.minTemperature}} °F</td>
                                        <td>{{date.avgTemperature}} °F</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h4 class="mt-4">Location: <span>{{rangeLocation}}</span></h4>
                        <div class="form-group mt-4">
                            <label for="fromDate">From</label>
                            <input class="form-control" type="date" :value="fromDate && fromDate.toISOString().split('T')[0]"
                            @input="fromDate = $event.target.valueAsDate">
                        </div>
                        <div class="form-group">
                            <label for="toDate">To</label>
                            <input class="form-control" type="date" :value="toDate && toDate.toISOString().split('T')[0]"
                            @input="toDate = $event.target.valueAsDate">
                        </div>
                        <input v-model="rangeLocation" class="form-control" type="text" placeholder="Search Location" id="range-location-search">
                        <button class="btn btn-primary mt-4 form-control" v-on:click="getTemperaturesFromRange">Get</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        name: "home",
        data: function(){
            return {
                lat: 0,
                lng: 0,
                location: "",
                liveTemperature: "",
                maxTemperature: "",
                minTemperature: "",
                avgTemperature: "",
                fromDate: new Date(),
                datesTemperatures: [],
                rangeLat: "",
                rangeLng: "",
                rangeLocation: ""

            }
        },
        computed: {
            toDate: function(){
                return this.fromDate.addDays(5);
            }
        },
        mounted: function(){
            axios
                .get("http://www.geoplugin.net/json.gp")
                .then(response => {
                    this.lat = response.data.geoplugin_latitude;
                    this.lng = response.data.geoplugin_longitude;
                    this.rangeLat = response.data.geoplugin_latitude;
                    this.rangeLng = response.data.geoplugin_longitude;
                    this.location = response.data.geoplugin_countryName;
                    this.rangeLocation = response.data.geoplugin_countryName;
                    this.getTemperature();
                });
        },
        created: function(){
            Date.prototype.addDays = function(days) {
              var dat = new Date(this.valueOf());
              dat.setDate(dat.getDate() + days);
              return dat;
            }
            google.maps.event.addDomListener(window, 'load', this.initMap);
        },
        methods: {
            initMap: function () {

              var input = document.getElementById('location-search');
              var rangeInput = document.getElementById('range-location-search');

              var autocomplete = new google.maps.places.Autocomplete(input);

              google.maps.event.addListener(autocomplete, 'place_changed', () => {
                  var place = autocomplete.getPlace();
                  this.lat = place.geometry.location.lat();
                  this.lng = place.geometry.location.lng();
                  this.location = place.formatted_address;
              });

              var rangeAutocomplete = new google.maps.places.Autocomplete(rangeInput);
              
              google.maps.event.addListener(rangeAutocomplete, 'place_changed', () => {
                    var place = rangeAutocomplete.getPlace();
                    this.rangeLat = place.geometry.location.lat();
                    this.rangeLng = place.geometry.location.lng();
                    this.rangeLocation = place.formatted_address;
              });

            },
            getTemperature: function(){
                axios
                  .get('api/temp/'+this.lat+'/'+this.lng, )
                  .then(response => {
                    this.liveTemperature = response.data.currently.temperature;
                    this.maxTemperature = response.data.daily.data[0].temperatureMax;
                    this.minTemperature = response.data.daily.data[0].temperatureMin;
                    this.avgTemperature = ((this.maxTemperature + this.minTemperature) / 2).toFixed(2);
                  });
            },
            getTemperaturesFromRange: function(){

                var datesWhithinRange = this.getDatesWithinRange(this.fromDate, this.toDate);

                this.requestNextDate(datesWhithinRange);

            },
            getDatesWithinRange: function(startDate, endDate){
                var dateArray = new Array();
                var currentDate = startDate;
                while (currentDate <= endDate) {
                    dateArray.push(new Date (currentDate));
                    currentDate = currentDate.addDays(1);
                }
                return dateArray;
            },
            toTimestampDay: function (date){
                var str = date.getTime();
                str = str.toString();
                str = str.slice(0, -3);
                str = parseInt(str);
                return str;
            },
            appendResponse: function(response){

                var promise = new Promise((resolve, reject) => {

                    var item = {
                        date: new Date(response.data.currently.time*1000),
                        maxTemperature: response.data.daily.data[0].temperatureMax,
                        minTemperature: response.data.daily.data[0].temperatureMin,
                        avgTemperature: ((response.data.daily.data[0].temperatureMax + response.data.daily.data[0].temperatureMin) / 2).toFixed(2)
                    };

                    this.datesTemperatures.push(item);

                    resolve();

                });

                return promise;

            },

            requestNextDate: function(dates, x = 0){

                if(x in dates){
                    var date = dates[x];
                    axios
                      .get('api/temp/'+this.rangeLat+'/'+this.rangeLng+'/' + this.toTimestampDay(date))
                      .then(response => {
                        this.appendResponse(response).then(() => {
                            this.requestNextDate(dates, ++x);
                        });
                    });
                }

            }

        }
    };
</script>